// colors 
$body-color: #fff;
$primary-color: #032615;
$secondary-color: #1F6744;
$tertiary-color: #EEF2E6;
$quaternary-color: #d1e1cc;
$quinary-color: #032615;
$senary-color: #1F6744;

// fonts
$body: "DM Sans", "Work Sans", "Helvetica", "sans-serif";
$headers: "Play", "Nunito", "Helvetica", "sans-serif";
