@import url('https://fonts.googleapis.com/css2?family=Palatino+Linotype&display=swap');


.main-title, .user-email {
    font-family: 'Palatino Linotype', 'Palatino', serif;
    color: #EEF2E6;
  }
  
  .main-title {
    font-size: 3rem;
  }
  
  .user-email {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  