/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
@import "bootstrap";

body {
  /* background-image: linear-gradient(313.78deg, #032615 -3.15%, #1F6744 100%); */
  background-image: linear-gradient(
    to left,
    rgba(3, 38, 21, 1),
    rgba(31, 103, 68, 1)
  );
}

h1 {
  color: #eef2e6;
}

.main-title,
.user-email {
  font-family: "Palatino Linotype", "Palatino", serif;
  color: #eef2e6;
}

.main-title {
  font-size: 3rem;
}

.user-email {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
}
